				<div class="gmod topAd mdl">
					<div id="fi_104739711" class="adwrap di refreshNO">
					<a href="/signup/"><img src="/img/ad.gif" alt="ad"></a></div>

					<div class="feedback">
						<span class="text-ad">~注册梨花儿账号轻松拥有~</span>
						<div id="adchoice" class="right">
							<a id="adchoicelink" name="om_adchoices_link" target="_blank" href="/about-our-ads/">
								<i id="adchoice-sep">|</i>
								<b>梨花儿广告投放</b>
								<span class="sprite-fg sprite-fg-ad-choices">
									<img class="feedback noion" pagespeed_lazy_src="/img/xsprite.png.pagespeed.ic.1aHBjkd_Tw.png" src="/img/st.gif" onload="pagespeed.lazyLoadImages.loadIfVisible(this);"/>
								</span>
							</a>
						</div>
					</div>
				</div>