    <div id="follow-aol-new" class="clearfix follow-aol mnid-follow-aol-new plid-484235 gmod">
        <h2>
            <span class="toggleModule toggle-follow-aol-new ">关注我们</span>
        </h2>
        <div class="collapse-follow-aol-new followaol-icons icons-4">
            <div class="followaol-icon item1 first" style="width: 24.0%;">
                <a name="om_follow-aol-new_item-1" class="lnid-sec2_lnk1" href="http://aol.it/facebook">
                    <img pagespeed_lazy_src="http://portal.aolcdn.com/p5/forms/21734/xc6782bd4-aa28-44a9-91ac-0493c90c4556.png.pagespeed.ic.NqNonzu1Mh.png" src="/img/st.gif" onload="pagespeed.lazyLoadImages.loadIfVisible(this);"/>    
                    <span class='title'>Facebook</span>
                </a>
                <div class="tooltip">
                    <div class="tooltip-arrow"></div>
                </div>
            </div>
            <span class="icondivider"></span>
            <div class="followaol-icon item2" style="width: 24.0%;">
                <a name="om_follow-aol-new_item-2" class="lnid-sec2_lnk2" href="/twitter">
                    <img pagespeed_lazy_src="http://portal.aolcdn.com/p5/forms/21734/xfa947fc6-418e-4f65-b738-d18ecc16d60d.png.pagespeed.ic.4LnAccmZm5.png" src="/img/st.gif" onload="pagespeed.lazyLoadImages.loadIfVisible(this);"/>    
                    <span class='title'>Twitter</span>
                </a>
                <div class="tooltip">
                    <div class="tooltip-arrow"></div>
                </div>
            </div>
            <span class="icondivider"></span>
            <div class="followaol-icon item3" style="width: 24.0%;">
                <a name="om_follow-aol-new_item-3" class="lnid-sec2_lnk3" href="http://aol.it/googleplus">
                    <img pagespeed_lazy_src="http://portal.aolcdn.com/p5/forms/21734/xd27c6db7-52ff-41e9-8a79-281063979da8.png.pagespeed.ic.z1gsX263cL.png" src="/img/st.gif" onload="pagespeed.lazyLoadImages.loadIfVisible(this);"/>    
                    <span class='title'>Google+</span>
                </a>
                <div class="tooltip">
                    <div class="tooltip-arrow"></div>
                </div>
            </div>
            <span class="icondivider"></span>
            <div class="followaol-icon item4 last" style="width: 24.0%;">
                <a name="om_follow-aol-new_item-4" class="lnid-sec2_lnk4" href="http://instagram.com/aol">
                    <img alt="Instagram" pagespeed_lazy_src="http://portal.aolcdn.com/p5/forms/21734/x26d48f9f-aa33-48c2-a27e-2b8dda429e7a.png.pagespeed.ic.C1nKrml20c.png" src="/img/st.gif" onload="pagespeed.lazyLoadImages.loadIfVisible(this);"/>    
                    <span class='title'>Instagram</span>
                </a>
                <div class="tooltip">
                    <div class="tooltip-arrow"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>