<div id="aol-footer" class="mlid-footer -wrapper">
	<div class="mpid-1 ">
		<div id="search-shadow"></div>
		<div class="mnid-footer-search plid-487810 footer-refresh">
			<form id="aol-footer-search" action="/search" method="get" class="search search-3 tabs-0">
				<input type="hidden" id="footer-ghostText" value=""/>
				<input type="hidden" id="footer-enabledTerms" name="enabled_terms" value=""/>
				<input type="hidden" id="footer-s_it" name="s_it" value="comsearch"/>
				<input type="hidden" id="footer-s_it_h" value="comsearch"/>
				<input type="hidden" id="footer-s_it_r" value="comsearch"/>
				<input type="hidden" id="footer-s_it_f" value="comsearch"/>
				<input type="hidden" id="footer-s_it_s" value="comsearch"/>
				<input type="hidden" id="footer-initSmartSearch" value="false"/>
				<input type="hidden" id="footer-apiDictionary" value=""/>
				<input type="hidden" id="footer-initFocus" value="true"/>
				<input type="hidden" id="footer-preserveGhostText" value=""/>
				<input type="hidden" id="footer-ssExtraParams" value="s_qt=ac"/>
				<input type="hidden" id="footer-apiIt" value=""/>
				<input type="hidden" id="footer-apiCount" value="8"/>
				<input type="hidden" id="footer-apiQueryParam" value="q"/>
				<input type="hidden" id="footer-enableBestMatch" value="true"/>
				<input type="hidden" id="footer-bestMatchPrefix" value="in"/>
				<fieldset>
					<input class="" type="text" value="" id="aol-footer-query" name="q" maxlength="150" title="Search the Web"/>
					<input class="om_footer-searchbutton lnid-sec2_lnk1" type="submit" value="SEARCH" id="aol-footer-search-button" onclick="omn.omo('footer-searchbutton');" title="Search the Web"/>
				</fieldset>
			</form>
		</div>
	</div>
	<div class="mpid-2 ">
		<div class="mnid-footer-back-to-top back-to-top footer-refresh" id="back-to-top-footer">
			<a href="#aol-header" target="_self">
				返回顶部
				<span class="up-arrow"></span>
			</a>
		</div>
	</div>
	<div class="mpid-3 ">
		<div class="plid-426943 mnid-footerlinks footer-refresh">
			<div id="ftlinks">
				<div class="footer-links-row1" id="om_footer_row1_">
					<a name="om_myaccount" href="http://myaccount.aol.com/" class=" lnid-sec1_lnk1">我的帐号</a>
					<a href="http://mail.aol.com/" class=" lnid-sec1_lnk2">邮件</a>
					<a href="/downloads/" class=" lnid-sec1_lnk3">下载</a>
					<a class="feedbackLink lnid-sec1_lnk4" href="/feedback/">帮助 & 反馈</a>
				</div>
				<div class="footer-links-row2" id="om_footer_row2_">
					<a href="/" class=" lnid-sec1_lnk5">梨花儿 Dot Com.</a>
					<a href="http://privacy.aol.com/" class=" lnid-sec1_lnk6">私隐</a>
					<a href="http://legal.aol.com/TOS/" class=" lnid-sec1_lnk7">团队</a>
					<a href="/about-our-ads/" class=" lnid-sec1_lnk8">关于我们的广告</a>
				</div>
				<div class="footer-links-row3" id="om_footer_row3_"></div>
				<div id="aol-copyright"></div>
			</div>
		</div>
	</div>
	<div class="mpid-4 ">
		<div id="follow-aol-footer" class="clearfix follow-aol mnid-follow-aol-footer plid-477904 gmod">
			<h2></h2>
			<div class=" followaol-icons icons-6">
				<div class="followaol-icon item1 first" style="">
					<a name="om_follow-aol-footer_item-1" class="lnid-sec2_lnk1" href="http://aol.it/facebook">
						<span class='sprite item-1 icon- '></span>
						<span class='title'></span>
					</a>
					<div class="tooltip">
						<div class="tooltip-arrow"></div>
						脸谱网
					</div>
				</div>
				<span class="icondivider"></span>
				<div class="followaol-icon item2" style="">
					<a name="om_follow-aol-footer_item-2" class="lnid-sec2_lnk2" href="http://aol.it/twitter">
						<span class='sprite item-2 icon- '></span>
						<span class='title'></span>
					</a>
					<div class="tooltip">
						<div class="tooltip-arrow"></div>
						Twitter
					</div>
				</div>
				<span class="icondivider"></span>
				<div class="followaol-icon item3" style="">
					<a name="om_follow-aol-footer_item-3" class="lnid-sec2_lnk3" href="http://instagram.com/aol">
						<span class='sprite item-3 icon- '></span>
						<span class='title'></span>
					</a>
					<div class="tooltip">
						<div class="tooltip-arrow"></div>
						Instagram
					</div>
				</div>
				<span class="icondivider"></span>
				<div class="followaol-icon item4" style="">
					<a name="om_follow-aol-footer_item-4" class="lnid-sec2_lnk4" href="newsletter/index.html">
						<span class='sprite item-4 icon- '></span>
						<span class='title'></span>
					</a>
					<div class="tooltip">
						<div class="tooltip-arrow"></div>
						Newsletter
					</div>
				</div>
				<span class="icondivider"></span>
				<div class="followaol-icon item5" style="">
					<a name="om_follow-aol-footer_item-5" class="lnid-sec2_lnk5" href="http://bit.ly/cCSb2K">
						<span class='sprite item-5 icon- '></span>
						<span class='title'></span>
					</a>
					<div class="tooltip">
						<div class="tooltip-arrow"></div>
						RSS
					</div>
				</div>
				<span class="icondivider"></span>
				<div class="followaol-icon item6 last" style="">
					<a name="om_follow-aol-footer_item-6" class="lnid-sec2_lnk6" href="http://aolapps.aol.com/">
						<span class='sprite item-6 icon- '></span>
						<span class='title'></span>
					</a>
					<div class="tooltip">
						<div class="tooltip-arrow"></div>
						梨花儿移动
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<div class="mpid-5 ">
		<div class="plid-426944 mnid-footerlinks-copyright-only footer-refresh">
			<div id="ftlinks">
				<div class="footer-links-row1" id="om_footer_row1_"></div>
				<div class="footer-links-row2" id="om_footer_row2_"></div>
				<div class="footer-links-row3" id="om_footer_row3_"></div>
				<div id="aol-copyright">
					<span class="copy-text">&copy; 2014&nbsp; 梨花儿.</span>
					<a href="/">
						<img class="footer-stamp-img" pagespeed_lazy_src="/img/logo-ft.png" alt="梨花儿" src="/img/st.gif" onload="pagespeed.lazyLoadImages.loadIfVisible(this);"/>
					</a>
					<span class="rights-text">All Rights Reserved.</span>
				</div>
			</div>
		</div>
	</div>
	<div class="mpid-6 ">
		<div id="scrollcurtain" class="clearfix plid-433467 mnid-scrollcurtain pos-top tt-#aol-header-search tth-true ttx--5 tb-#aol-footer-search cnvs- mct- scb- nopushdown">
			<div id="scrollcurtain-content">
				<div id="scrollcurtain-logos" class="mnid-scrollcurtain-logos plid-433792 globalHeaderLogo">
					<a id="scrollcurtain-logoslink" data-mobile-canvas="http://portal.aolcdn.com/p5/forms/367/cbc11802-69b3-4d90-9bf1-9425a4467009.jpg" title="Click here to refresh" name="om_scrollcurtain-logos" class="lnid-sec1_lnk1  globalHeaderLogoLink aol-logo" href="/">
						<img alt="Click here to refresh" pagespeed_lazy_src="/img/logo-hover.png" src="/img/st.gif" onload="pagespeed.lazyLoadImages.loadIfVisible(this);"/>
					</a>
				</div>
				<div id="search-shadow"></div>
				<div class="mnid-scrollcurtain-search plid-434088">
					<form id="aol-scrollcurtain-search" action="http://search.aol.com/aol/search" method="get" class="search search-3 tabs-0">
						<input type="hidden" id="scrollcurtain-ghostText" value=""/>
						<input type="hidden" id="scrollcurtain-enabledTerms" name="enabled_terms" value=""/>
						<input type="hidden" id="scrollcurtain-s_it" name="s_it" value="comsearch"/>
						<input type="hidden" id="scrollcurtain-s_it_h" value="comsearch"/>
						<input type="hidden" id="scrollcurtain-s_it_r" value="comsearch"/>
						<input type="hidden" id="scrollcurtain-s_it_f" value="comsearch"/>
						<input type="hidden" id="scrollcurtain-s_it_s" value="comsearch"/>
						<input type="hidden" id="scrollcurtain-initSmartSearch" value="false"/>
						<input type="hidden" id="scrollcurtain-apiDictionary" value=""/>
						<input type="hidden" id="scrollcurtain-ssExtraParams" value="s_qt=sa"/>
						<input type="hidden" id="scrollcurtain-sExtraParams" value="s_qt=sh"/>
						<input type="hidden" id="scrollcurtain-apiIt" value=""/>
						<input type="hidden" id="scrollcurtain-apiUrl" value="http://autocomplete.search.aol.com/autocomplete/get"/>
						<input type="hidden" id="scrollcurtain-apiCount" value="8"/>
						<input type="hidden" id="scrollcurtain-apiQueryParam" value="q"/>
						<input type="hidden" id="scrollcurtain-enableBestMatch" value="true"/>
						<input type="hidden" id="scrollcurtain-bestMatchQuery" value="bm_chan=2&bm_max=1&bm_limit=4"/>
						<input type="hidden" id="scrollcurtain-bestMatchPrefix" value="in"/>
						<input type="hidden" id="scrollcurtain-bestMatchAction" value="http://search.aol.com/aol/tracking"/>
						<fieldset>
							<input class="" type="text" value="" id="aol-scrollcurtain-query" name="q" maxlength="150" title="Search the Web"/>
							<input class="om_scrollcurtain-searchbutton lnid-sec2_lnk1" type="submit" value="Search" id="aol-scrollcurtain-search-button" onclick="omn.omo('scrollcurtain-searchbutton');" title="Search the Web"/>
							<div id="aol-scrollcurtain-search-results"></div>
						</fieldset>
					</form>
				</div>
				<div id="scrollcurtain-quicknav_w">
					<div id="scrollcurtain-quicknav" quick-nav-icons="2" class="mnid-quicknav-searchcurtain quicknav quick-nav2 nopushdown">
						<a class="mobile-search">
							<img class="noion" pagespeed_lazy_src="http://portal.aolcdn.com/p5/forms/21737/xa5b0275a-8772-4425-a68a-83a20b86b027.png.pagespeed.ic._GgtM5JJIb.png" alt="" src="/img/st.gif" onload="pagespeed.lazyLoadImages.loadIfVisible(this);"/>
						</a> <b style="width: 32.333333333333336%;"><a href="http://mail.aol.com/" class="qnpos1 qn auth-0 mailpreview show-300 hide-300 thresh-500 mnid-qnav-scrollcurtain-quicknav-mail_scrollcurtain-quicknav plid-433460 lnid-sec1_lnk1" name="om_quicknav_scrollcurtain-quicknav-mail_global" title='AOL Mail' id='mailpreview'>
								<img alt="AOL Mail" class="noion" pagespeed_lazy_src="http://portal.aolcdn.com/p5/forms/21737/xa5b0275a-8772-4425-a68a-83a20b86b027.png.pagespeed.ic._GgtM5JJIb.png" src="/img/st.gif" onload="pagespeed.lazyLoadImages.loadIfVisible(this);"/>
								<span></span>
							</a>
							<div id="mailoverw">
								<div id="mailover"></div>
							</div>
							<div class="tooltip">
								<div class="tooltip-arrow sprite-bg sprite-up-arrow-tooltip"></div> <i>邮箱</i>
							</div></b>  <b style="width: 32.333333333333336%;"><a href="http://features.aol.com/" class="qnpos7 mnid-qnav-quick-nav-video_scrollcurtain-quicknav plid-464939 lnid-sec1_lnk7" name="om_quicknav_quick-nav-video_global" title='Get all your videos from AOL Features'>
								<img alt="Video" class="noion" pagespeed_lazy_src="http://portal.aolcdn.com/p5/forms/21737/xa5b0275a-8772-4425-a68a-83a20b86b027.png.pagespeed.ic._GgtM5JJIb.png" src="/img/st.gif" onload="pagespeed.lazyLoadImages.loadIfVisible(this);"/>
							</a>
							<div class="tooltip">
								<div class="tooltip-arrow sprite-bg sprite-up-arrow-tooltip"></div> <i>视频</i>
							</div></b> 
						<b style="width: 32.333333333333336%;">
							<i class="last"><a href="favorites/index.html" class="qnpos17 mnid-qnav-quick-nav-favorites_scrollcurtain-quicknav plid-279837 lnid-sec1_lnk17" name="om_quicknav_quick-nav-favorites_global" title='AOL Favorites!'>
									<img alt="AOL Favorites" class="noion" pagespeed_lazy_src="http://portal.aolcdn.com/p5/forms/21737/xa5b0275a-8772-4425-a68a-83a20b86b027.png.pagespeed.ic._GgtM5JJIb.png" src="/img/st.gif" onload="pagespeed.lazyLoadImages.loadIfVisible(this);"/>
								</a>
								<div class="tooltip">
									<div class="tooltip-arrow sprite-bg sprite-up-arrow-tooltip"></div>
									<i>收藏</i>
								</div></i> 
						</b>
						<a class="mobile-menu">
							<img class="noion" pagespeed_lazy_src="http://portal.aolcdn.com/p5/forms/21737/xa5b0275a-8772-4425-a68a-83a20b86b027.png.pagespeed.ic._GgtM5JJIb.png" alt="" src="/img/st.gif" onload="pagespeed.lazyLoadImages.loadIfVisible(this);"/>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>