				<div id="fwcntstmod" class="gmod">
					<h2>
						<a href="###">特别关注</a>
					</h2>
					<div style="position: relative; float: left; z-index:2;" class="fwcntstmodimg">
						<a href="http://www.aol.com/fireworks/?icid=acm50fireworkscontest">
							<img pagespeed_lazy_src="http://portal.aolcdn.com/o.aolcdn.com/os/aolportal5/xfwkscntstimg_flag.jpg.pagespeed.ic.1KPSRL0EW8.jpg" src="/img/st.gif" onload="pagespeed.lazyLoadImages.loadIfVisible(this);"></a>
					</div>
						<div style="position: relative; left: 7px; color: #3B3B3B; font-size: 14px; line-height: 16px;" class="fwcntstmodtxt">
							Fireworks旗舰版体验
							<p style="font-size: 13px; color: #787878;">
								Win a private fireworks show for you and 100 of your closest friends
								<br>
								<a style="color: #008EE1" href="##fireworks/?icid=acm50fireworkscontest">Enter now for a chance to win</a>
							</p>
						</div>
				</div>