	<div id="global-header-bg" class="light"></div>
	<div id="aol-header" class="aol-global-header light">
		<div class="mpid-2 ">
			<div id="headerlogo-global" class="mnid-logo plid-328291 globalHeaderLogo">
				<h1 class="dn">梨花儿 - 新闻, 体育, 天气, 娱乐, 本地 & 生活</h1>
				<script type="text/javascript">var logoT="点击刷新";var logoH="/";</script>
				<a id="headerlogo-globallink" data-mobile-canvas="/img/cbc11802-69b3-4d90-9bf1-9425a4467009.jpg" title="Click here to refresh" name="om_headerlogo-global" class="lnid-sec1_lnk1 globalHeaderLogoLink aol-logo" href="/">
					<script pagespeed_no_defer="">//<![CDATA[
						(function(){var d=window,e=document,f="documentElement",g="scrollTop",k="prototype",l="body",m="getAttribute",n="",p="1",q="data",r="img",s="load",t="number",u="on",v="onload",w="pagespeed_lazy_position",x="pagespeed_lazy_replaced_functions",y="pagespeed_lazy_src",z="position",A="relative",B="resize",C="scroll",D="src";d.pagespeed=d.pagespeed||{};var E=d.pagespeed,F=function(a){this.d=[];this.a=0;this.b=!1;this.o=a;this.e=null;this.i=0;this.j=200;this.c=!1};
							F[k].s=function(){var a=0;typeof d.pageYOffset==t?a=d.pageYOffset:e[l]&&e[l][g]?a=e[l][g]:e[f]&&e[f][g]&&(a=e[f][g]);var b=d.innerHeight||e[f].clientHeight||e[l].clientHeight;return{top:a,bottom:a+b,height:b}};
							F[k].n=function(a){var b=a[m](w);if(b)return parseInt(b,0);var b=a.offsetTop,c=a.offsetParent;c&&(b+=this.n(c));b=Math.max(b,0);a.setAttribute(w,b);return b};F[k].r=function(a){var b=this.n(a);return{top:b,bottom:b+a.offsetHeight}};F[k].q=function(a,b){if(a.currentStyle)return a.currentStyle[b];if(e.defaultView&&e.defaultView.getComputedStyle){var c=e.defaultView.getComputedStyle(a,null);if(c)return c.getPropertyValue(b)}return a.style&&a.style[b]?a.style[b]:n};F[k].p=function(a){if(!this.c&&(0==a.offsetHeight||0==a.offsetWidth))return!1;if(this.q(a,z)==A)return!0;var b=this.s(),c=a.getBoundingClientRect();c?(a=c.top-b.height,b=c.bottom):(c=this.r(a),a=c.top-b.bottom,b=c.bottom-b.top);return a<=this.a&&0<=b+this.a};
							F[k].m=function(a){this.l(a);var b=this;d.setTimeout(function(){var c=a[m](y);if(null!=c)if((b.b||b.p(a))&&-1!=a.src.indexOf(b.o)){var h=a.parentNode,G=a.nextSibling;h&&h.removeChild(a);a.getAttribute=a.k;a.removeAttribute(v);a.removeAttribute(y);a.removeAttribute(x);h&&h.insertBefore(a,G);a.src=c}else b.d.push(a)},0)};F[k].loadIfVisible=F[k].m;F[k].u=function(){this.b=!0;this.f()};F[k].loadAllImages=F[k].u;F[k].f=function(){var a=this.d,b=a.length;this.d=[];for(var c=0;c<b;++c)this.m(a[c])};
							F[k].h=function(a,b){return a.a?null!=a.a(b):null!=a[m](b)};F[k].v=function(){for(var a=e.getElementsByTagName(r),b=0;b<a.length;++b){var c=a[b];this.h(c,y)&&this.l(c)}};F[k].overrideAttributeFunctions=F[k].v;F[k].l=function(a){var b=this;this.h(a,x)||(a.k=a[m],a.getAttribute=function(a){a.toLowerCase()==D&&b.h(this,y)&&(a=y);return this.k(a)},a.setAttribute(x,p))};
							E.g=function(a,b,c){if(a.addEventListener)a.addEventListener(b,c,!1);else if(a.attachEvent)a.attachEvent(u+b,c);else{var h=a[u+b];a[u+b]=function(){c.call(this);h&&h.call(this)}}};E.t=function(a,b){var c=new F(b);E.lazyLoadImages=c;E.g(d,s,function(){c.c=!0;c.b=a;c.a=200;c.f()});0!=b.indexOf(q)&&((new Image).src=b);var h=function(){if(!(c.c&&a||c.e)){var b=c.j;(new Date).getTime()-c.i>c.j&&(b=0);c.e=d.setTimeout(function(){c.i=(new Date).getTime();c.f();c.e=null},b)}};E.g(d,C,h);E.g(d,B,h)};
							E.lazyLoadInit=E.t;})();
							pagespeed.lazyLoadInit(false, "/img/st.gif");
							//]]>
					</script>
					<img alt="Click here to refresh" pagespeed_lazy_src="/img/logo.png" src="/img/st.gif" onload="pagespeed.lazyLoadImages.loadIfVisible(this);"/>
				</a>
			</div>
		</div>
		<div class="mpid-3 ">
			<div id="search-shadow"></div>
			<div class="mnid-header-search plid-487810">
				<form id="aol-header-search" action="/search" method="get" class="search search-3 tabs-0">
					<input type="hidden" id="header-ghostText" value=""/>
					<fieldset>
						<input class="" type="text" value="" id="aol-header-query" name="q" maxlength="150" title="Search the Web"/>
						<input class="om_header-searchbutton lnid-sec2_lnk1" type="submit" value="SEARCH" id="aol-header-search-button" onclick="omn.omo('header-searchbutton');" title="Search the Web"/>
						<div id="aol-header-search-results"></div>
					</fieldset>
				</form>
			</div>
		</div>
		<div class="mpid-4 ">
			<div id="usrMnu" class="mnid-user-menu plid-486577 unauthenticated" hidedelay="200" showdelay="200">
				<p class="username unauth">
					<a href="/signin/" class="lnid-sec1_lnk1">欢迎, 登录</a>
				</p>
				<ul class="usrSns">
					<li class=" pipe">
						<a href="/signup/" name="om_signup" class="lnid-sec1_lnk2">注册</a>
					</li>
					<li class="userOptions bN">
						<a class="usrMnuDrpDwn" href="index.html#" title="User Options">选项</a>
					</li>
				</ul>
				<div class="usrMnuLst">
					<ul>
						<li>
							<a class="lnid-sec2_lnk1" href="/account/settings/start">账户信息</a>
						</li>
						<li>
							<a class="themesopenDouble lnid-sec2_lnk2" href="index.html#">我的节点</a>
						</li>
						<li>
							<a class="lnid-sec2_lnk3" href="/">创建节点</a>
						</li>
					</ul>
				</div>
			</div>
			<div id="mobileMenuListHolder" class="dn hidden" data-mobilemenusubtitle="Categories">
				<div class="mobilemenulistitem dn hidden">
					<a class="lnid-sec2_lnk1" href="/account/settings/start">帐号</a>
				</div>
				<div class="mobilemenulistitem dn hidden">
					<a class="lnid-sec2_lnk4" href="http://m.on.aol.com/">创建节点</a>
				</div>
			</div>
		</div>
		<div class="mpid-5 ">
			<div id="quick-nav-global_w">
				<div id="quick-nav-global" quick-nav-icons="2" class=" quicknav quick-nav2">
					<a class="mobile-search">
						<img class="noion" pagespeed_lazy_src="/img/xa5b0275a-8772-4425-a68a-83a20b86b027.png.pagespeed.ic._GgtM5JJIb.png" alt="Search" src="/img/st.gif" onload="pagespeed.lazyLoadImages.loadIfVisible(this);"/>
					</a> <b style="width: 32.333333333333336%;"><a href="###" class="qnpos1 qn auth-0 mailpreview show-300 hide-300 thresh-500 mnid-qnav-mail_quick-nav-global plid-484985 lnid-sec1_lnk1" name="om_quicknav_mail_global" title='AOL Mail' id='mailpreview'>
							<img alt="AOL Mail" class="noion" pagespeed_lazy_src="/img/xa5b0275a-8772-4425-a68a-83a20b86b027.png.pagespeed.ic._GgtM5JJIb.png" src="/img/st.gif" onload="pagespeed.lazyLoadImages.loadIfVisible(this);"/>
							<span></span>
						</a>
						<div id="mailoverw">
							<div id="mailover"></div>
						</div>
						<div class="tooltip">
							<div class="tooltip-arrow sprite-bg sprite-up-arrow-tooltip"></div> <i>邮箱</i>
						</div></b>  <b style="width: 32.333333333333336%;"><a href="/" class="qnpos7 mnid-qnav-quick-nav-video_quick-nav-global plid-464939 lnid-sec1_lnk7" name="om_quicknav_quick-nav-video_global" title='Get all your videos from AOL Features'>
							<img alt="Video" class="noion" pagespeed_lazy_src="/img/xa5b0275a-8772-4425-a68a-83a20b86b027.png.pagespeed.ic._GgtM5JJIb.png" src="/img/st.gif" onload="pagespeed.lazyLoadImages.loadIfVisible(this);"/>
						</a>
						<div class="tooltip">
							<div class="tooltip-arrow sprite-bg sprite-up-arrow-tooltip"></div> <i>视频</i>
						</div></b> 
					<b style="width: 32.333333333333336%;">
						<i class="last"><a href="/favorites/" class="qnpos17 mnid-qnav-quick-nav-favorites_quick-nav-global plid-279837 lnid-sec1_lnk17" name="om_quicknav_quick-nav-favorites_global" title='AOL Favorites!'>
								<img alt="AOL Favorites" class="noion" pagespeed_lazy_src="/img/xa5b0275a-8772-4425-a68a-83a20b86b027.png.pagespeed.ic._GgtM5JJIb.png" src="/img/st.gif" onload="pagespeed.lazyLoadImages.loadIfVisible(this);"/>
							</a>
							<div class="tooltip">
								<div class="tooltip-arrow sprite-bg sprite-up-arrow-tooltip"></div>
								<i>收藏</i>
							</div></i> 
					</b>
					<a class="mobile-menu">
						<img class="noion" pagespeed_lazy_src="/img/xa5b0275a-8772-4425-a68a-83a20b86b027.png.pagespeed.ic._GgtM5JJIb.png" alt="Menu" src="/img/st.gif" onload="pagespeed.lazyLoadImages.loadIfVisible(this);"/>
					</a>
				</div>
			</div>
		</div>
		<div id="preview-container"></div>
	</div>