<div id="aol-hnav">
	<div class="mpid-7 ">
		<div id="ghnav-wrapper">
			<div id="ghnav1" class="mnid-hnav-2013 plid-486186 format-light">
				<ul class='topLevel'>
					<li class='topLevel first'>
						<div class='topTitle'>
							<a id="ghnav-today" name="om_ghnav_sec1_link1" data-pos="1" class="itemLink icid-gnavbar_rootnow lnid-sec1_lnk2" href="index.html">今日</a>
						</div>
						<span class='ghnavarrow'></span>
						<ul class='subNav'>
							<li class='first '>
								<a title="Read Mail" name="om_hnav_sec1_link3" class="icid-gnavbar_mail lnid-sec1_lnk3" href="http://mail.aol.com/">Read Mail</a>
							</li>
							<li class=' odd'>
								<a title="Weather" name="om_hnav_sec1_link4" class="icid-gnavbar_weather lnid-sec1_lnk4" href="http://weather.aol.com/">Weather</a>
							</li>
							<li>
								<a title="Play hundreds of free online games from Games.com" name="om_hnav_sec1_link5" class="icid-gnavbar_games lnid-sec1_lnk5" href="http://www.games.com">游戏</a>
							</li>
							<li class=' odd'>
								<a title="Free online radio offering 350+ sports, news, talk and music stations" name="om_hnav_sec1_link6" class="icid-gnavbar_radio lnid-sec1_lnk6" href="http://aolradio.slacker.com">Radio</a>
							</li>
							<li class='last '>
								<a name="om_hnav_sec1_link7" class="icid-gnavbar_aolapps lnid-sec1_lnk7" href="http://aolapps.aol.com/" title="AOL Apps">应用</a>
							</li>
						</ul>
					</li>
					<li class='topLevel'>
						<div class='topTitle'>
							<a id="ghnav-news" name="om_ghnav_sec2_link1" data-pos="2" class="itemLink icid-gnavbar_rootnews lnid-sec2_lnk2" href="news/index.html">新闻</a>
						</div>
						<span class='ghnavarrow'></span>
						<ul class='subNav'>
							<li class='first '>
								<a title="Huffington Post" name="om_hnav_sec2_link3" class="icid-gnavbar_huffingtonpost lnid-sec2_lnk3" href="http://www.huffingtonpost.com">Huffington Post</a>
							</li>
							<li class=' odd'>
								<a title="A live-streaming network that attempts to create the most social video experience possible." name="om_hnav_sec2_link4" class="icid-gnavbar_huffpolive lnid-sec2_lnk4" href="http://live.huffingtonpost.com">HuffPost Live</a>
							</li>
							<li>
								<a title="Coverage of everything new in gadgets and consumer electronics" name="om_hnav_sec2_link5" class="icid-gnavbar_engadget lnid-sec2_lnk5" href="http://www.engadget.com">Engadget</a>
							</li>
							<li class=' odd'>
								<a name="om_hnav_sec2_link6" href="http://techcrunch.com/" class=" lnid-sec2_lnk6">TechCrunch</a>
							</li>
							<li>
								<a name="om_hnav_sec2_link7" href="http://www.autoblog.com/" class=" lnid-sec2_lnk7">Autoblog</a>
							</li>
							<li class='last  odd'>
								<a title="Local" name="om_hnav_sec2_link8" class="icid-gnavbar_local lnid-sec2_lnk8" href="local/index.html">本地</a>
							</li>
						</ul>
					</li>
					<li class='topLevel'>
						<div class='topTitle'>
							<a id="ghnav-entertainment" name="om_ghnav_sec3_link1" data-pos="3" class="itemLink icid-gnavbar_rootentertainment lnid-sec3_lnk2" href="entertainment/index.html">娱乐</a>
						</div>
						<span class='ghnavarrow'></span>
						<ul class='subNav'>
							<li class='first '>
								<a title="娱乐新闻, Celebrity Photos, Music Videos, Movie Trailers, TV Recaps" name="om_hnav_sec3_link3" class="icid-gnavbar_cambio lnid-sec3_lnk3" href="http://www.cambio.com/">Cambio</a>
							</li>
							<li class=' odd'>
								<a title="Celebrity news and photos and top music, movie and TV news" name="om_hnav_sec3_link4" class="icid-gnavbar_celebrity lnid-sec3_lnk4" href="/celebrity">Celebrity News</a>
							</li>
							<li>
								<a title="Play hundreds of free online games from Games.com" name="om_hnav_sec3_link5" class="icid-gnavbar_games2 lnid-sec3_lnk5" href="http://www.games.com">游戏</a>
							</li>
							<li class=' odd'>
								<a title="Women, funny stuff, viral videos, must-read features, and a whole lot of awesome" name="om_hnav_sec3_link6" class="icid-gnavbar_mandatory lnid-sec3_lnk6" href="http://www.mandatory.com/">Mandatory</a>
							</li>
							<li>
								<a title="Movie news, show times, tickets, trailers and more from Moviefone" name="om_hnav_sec3_link7" class="icid-gnavbar_movies lnid-sec3_lnk7" href="http://www.moviefone.com">Moviefone</a>
							</li>
							<li class=' odd'>
								<a title="Free online radio offering 350+ sports, news, talk and music stations" name="om_hnav_sec3_link8" class="icid-gnavbar_radio lnid-sec3_lnk8" href="http://aolradio.slacker.com">Radio</a>
							</li>
							<li class='last '>
								<a name="om_hnav_sec3_link9" class="icid-gnavbar_video lnid-sec3_lnk9" href="/">Video</a>
							</li>
						</ul>
					</li>
					<li class='topLevel'>
						<div class='topTitle'>
							<a id="ghnav-finance" name="om_ghnav_sec4_link1" data-pos="4" class="itemLink icid-gnavbar_finance lnid-sec4_lnk2" href="finance/index.html">财经</a>
						</div>
						<span class='ghnavarrow'></span>
						<ul class='subNav'>
							<li class='first '>
								<a title="Research, find and buy new and used cars" name="om_hnav_sec4_link3" class="icid-gnavbar_autos lnid-sec4_lnk3" href="http://autos.aol.com">汽车</a>
							</li>
							<li class=' odd'>
								<a title="Business News and Opinion on The Huffington Post" name="om_hnav_sec4_link4" class="icid-gnavbar_business lnid-sec4_lnk4" href="/business">商业新闻</a>
							</li>
							<li>
								<a title="A blog about technology news and analysis, as well as profiling of startup companies, products and websites" name="om_hnav_sec4_link5" class="icid-gnavbar_techcrunch lnid-sec4_lnk5" href="http://www.crunchbase.com/">CrunchBase</a>
							</li>
							<li class=' odd'>
								<a title="Business news, stock quotes and investment advice" name="om_hnav_sec4_link6" class="icid-gnavbar_dailyfinance lnid-sec4_lnk6" href="http://www.dailyfinance.com">每日财经</a>
							</li>
							<li>
								<a title="Careers, job listings, resume tips and interview advice" name="om_hnav_sec4_link7" class="icid-gnavbar_jobs lnid-sec4_lnk7" href="http://jobs.aol.com">工作</a>
							</li>
							<li class=' odd'>
								<a title="Your quotes, news and summary from DailyFinance" name="om_hnav_sec4_link8" class="icid-gnavbar_myportfolios lnid-sec4_lnk8" href="http://www.dailyfinance.com/portfolios/myportfolios">我的投资组合</a>
							</li>
							<li>
								<a title="Search real estate listings and foreclosures and get local market info" name="om_hnav_sec4_link9" class="icid-gnavbar_realest lnid-sec4_lnk9" href="http://realestate.aol.com/">爱好收藏</a>
							</li>
							<li class='last  odd'>
								<a title="Small business news from the Huffington Post" name="om_hnav_sec4_link10" class="icid-gnavbar_smallbus lnid-sec4_lnk10" href="/small-business/">Small Business</a>
							</li>
						</ul>
					</li>
					<li class='topLevel'>
						<div class='topTitle'>
							<a id="ghnav-lifestyle" name="om_ghnav_sec5_link1" data-pos="5" class="itemLink icid-gnavbar_living lnid-sec5_lnk2" href="lifestyle/index.html">生活季风</a>
						</div>
						<span class='ghnavarrow'></span>
						<ul class='subNav'>
							<li class='first '>
								<a title="The AOL Health Channel" name="om_hnav_sec5_link3" class="icid-gnavbar_health lnid-sec5_lnk3" href="health/index.html">健康</a>
							</li>
							<li class=' odd'>
								<a title="Horoscopes" name="om_hnav_sec5_link4" class="icid-gnavbar_horoscopes lnid-sec5_lnk4" href="/horoscopes">Horoscopes</a>
							</li>
							<li>
								<a title="Recipes, Cooking Tips, Food Advice and Menus" name="om_hnav_sec5_link5" class="icid-gnavbar_food lnid-sec5_lnk5" href="/">KitchenDaily</a>
							</li>
							<li class=' odd'>
								<a title="Latin American news, photos, AIM and free e-mail in Spanish" name="om_hnav_sec5_link6" class="icid-gnavbar_latino lnid-sec5_lnk6" href="http://voces.huffingtonpost.com/">Latino</a>
							</li>
							<li>
								<a title="Explore the stories of these trailblazing women and inspire your own through MAKERS.com" name="om_hnav_sec5_link7" class="icid-gnavbar_makers lnid-sec5_lnk7" href="http://www.makers.com/">MAKERS</a>
							</li>
							<li class=' odd'>
								<a title="MapQuest" name="om_hnav_sec5_link8" class="icid-gnavbar_mapquest lnid-sec5_lnk8" href="http://www.mapquest.com">地图 & 目录</a>
							</li>
							<li>
								<a title="Marlo Thomas" name="om_hnav_sec5_link9" class="icid-gnavbar_marlo lnid-sec5_lnk9" href="/marlothomas/">Marlo Thomas</a>
							</li>
							<li class=' odd'>
								<a name="om_hnav_sec5_link10" class="icid-gnavbar_momme lnid-sec5_lnk10" href="http://mom.me/">Mom.me</a>
							</li>
							<li>
								<a title="PawNation - Your Source for Dog and Cat Pet Care, Animal News and Funny Animal Videos" name="om_hnav_sec5_link11" class="icid-gnavbar_pawnation lnid-sec5_lnk11" href="/">PawNation</a>
							</li>
							<li class=' odd'>
								<a title="Fashion trends, product reviews, beauty tips and more from StyleList" name="om_hnav_sec5_link12" class="icid-gnavbar_style lnid-sec5_lnk12" href="http://www.stylelist.com">StyleList</a>
							</li>
							<li>
								<a title="A wedding blog for the style obsessed bride" name="om_hnav_sec5_link13" class="icid-gnavbar_stylemepretty lnid-sec5_lnk13" href="http://www.stylemepretty.com/">StyleMePretty</a>
							</li>
							<li class='last  odd'>
								<a title="Explore travel destinations, get airline tickets, hotels, car rentals and deals" name="om_hnav_sec5_link14" class="icid-gnavbar_travel lnid-sec5_lnk14" href="http://travel.aol.com">Travel</a>
							</li>
						</ul>
					</li>
					<li class='topLevel'>
						<div class='topTitle'>
							<a id="ghnav-sports" name="om_ghnav_sec6_link1" data-pos="6" class="itemLink icid-gnavbar_rootsports lnid-sec6_lnk2" href="sports/index.html">体育</a>
						</div>
						<span class='ghnavarrow'></span>
						<ul class='subNav'>
							<li class='first '>
								<a title="ESPN" name="om_hnav_sec6_link3" class="icid-gnavbar_espn lnid-sec6_lnk3" href="/partner/espn">ESPN</a>
							</li>
							<li class=' odd'>
								<a title="Huffington Post Sports" name="om_hnav_sec6_link4" class="icid-gnavbar_hpsports lnid-sec6_lnk4" href="/sports/">Huffington Post Sports</a>
							</li>
							<li class='last '>
								<a title="Sports Illustrated" name="om_hnav_sec6_link5" class="icid-gnavbar_sports lnid-sec6_lnk5" href="http://sportsillustrated.cnn.com/?xid=aol_home_nav">Sports Illustrated</a>
							</li>
						</ul>
					</li>
					<li class='topLevel'>
						<div class='topTitle'>
							<a id="ghnav-real-estate" title="爱好收藏" name="om_ghnav_sec7_link1" data-pos="7" class="itemLink icid-gnavbar_realestateroot lnid-sec7_lnk2" href="http://realestate.aol.com/">爱好收藏</a>
						</div>
						<span class='ghnavarrow'></span>
						<ul class='subNav'>
							<li class='first '>
								<a title="Homes for Sale" name="om_hnav_sec7_link3" class="icid-gnavbar_homesforsale lnid-sec7_lnk3" href="http://realestate.aol.com/blog/homes-for-sale/">Homes for Sale</a>
							</li>
							<li class=' odd'>
								<a title="Rentals" name="om_hnav_sec7_link4" class="icid-gnavbar_rentals lnid-sec7_lnk4" href="http://realestate.aol.com/blog/rentals/">Rentals</a>
							</li>
							<li>
								<a title="Home Values" name="om_hnav_sec7_link5" class="icid-gnavbar_homevalues lnid-sec7_lnk5" href="http://realestate.aol.com/blog/home-values/">Home Values</a>
							</li>
							<li class=' odd'>
								<a title="News" name="om_hnav_sec7_link6" class="icid-gnavbar_renews lnid-sec7_lnk6" href="http://realestate.aol.com/blog/category/news/">News</a>
							</li>
							<li>
								<a title="Home Finance" name="om_hnav_sec7_link7" class="icid-gnavbar_homefinance lnid-sec7_lnk7" href="http://realestate.aol.com/blog/real-estate-finance/">Home Finance</a>
							</li>
							<li class=' odd'>
								<a title="How To Guides" name="om_hnav_sec7_link8" class="icid-gnavbar_howtoguides lnid-sec7_lnk8" href="http://realestate.aol.com/blog/main-guides/">How To Guides</a>
							</li>
							<li>
								<a title="Celebrity Homes" name="om_hnav_sec7_link9" class="icid-gnavbar_celebhomes lnid-sec7_lnk9" href="http://realestate.aol.com/blog/category/celebrity-homes/">Celebrity Homes</a>
							</li>
							<li class='last  odd'>
								<a title="Video" name="om_hnav_sec7_link10" class="icid-gnavbar_revideo lnid-sec7_lnk10" href="http://realestate.aol.com/blog/videos/">视频</a>
							</li>
						</ul>
					</li>
					<li class='topLevel'>
						<div class='topTitle'>
							<a id="ghnav-mybenefits" name="om_ghnav_sec8_link1" data-pos="8" class="itemLink ncid-navbutusaolp00000012 lnid-sec8_lnk2" href="https://mybenefits.aol.com">专属社区</a>
						</div>
						<span class='ghnavarrow'></span>
						<ul class='subNav'>
							<li class='first '>
								<a title="Real Time Traffic" name="om_hnav_sec8_link3" class="icid-gnavbar_traffic lnid-sec8_lnk3" href="http://www.mapquest.com/traffic/">Real Time Traffic</a>
							</li>
							<li class=' odd'>
								<a title="All of your favorite websites in one place" name="om_hnav_sec8_link4" class="icid-gnavbar_reader lnid-sec8_lnk4" href="http://reader.aol.com">AOL Reader</a>
							</li>
							<li>
								<a title="The best solutions for your everyday life needs" name="om_hnav_sec8_link5" class="icid-gnavbar_lifestore lnid-sec8_lnk5" href="http://lifestore.aol.com/main">Lifestore</a>
							</li>
							<li class=' odd'>
								<a title="The classic all-in-one AOL Desktop software" name="om_hnav_sec8_link6" class="icid-gnavbar_aoldesktop lnid-sec8_lnk6" href="http://daol.aol.com/software/aoldesktop97">AOL Desktop</a>
							</li>
							<li>
								<a title="Free, and installs in seconds.  Save time by adding buttons to your favorite sites" name="om_hnav_sec8_link7" class="icid-gnavbar_toolbar lnid-sec8_lnk7" href="http://toolbar.aol.com/aol/download.html">AOL Toolbar</a>
							</li>
							<li class=' odd'>
								<a title="Update your browser to the current version" name="om_hnav_sec8_link8" class="icid-gnavbar_browserupdates lnid-sec8_lnk8" href="http://browsers.aol.com/utilities/browser_upgrade_redirect.html">Browser Update</a>
							</li>
							<li>
								<a title="Find the most popular AOL downloads" name="om_hnav_sec8_link9" href="http://daol.aol.com/software/" class=" lnid-sec8_lnk9">Downloads</a>
							</li>
							<li class=' odd'>
								<a title="Get free AOL Email" name="om_hnav_sec8_link10" class="icid-gnavbar_freeemail lnid-sec8_lnk10" href="https://new.aol.com/productsweb/?promocode=825346&ncid=txtlnkuswebr00000105">Free Email</a>
							</li>
							<li>
								<a title="Smartphone apps, free mobile apps, latest news on mobile applications and smartphones" name="om_hnav_sec8_link11" class="icid-gnavbar_mobile lnid-sec8_lnk11" href="http://mobile.aol.com/">Mobile Apps</a>
							</li>
							<li class=' odd'>
								<a title="AIM Express" name="om_hnav_sec8_link12" class="aimexpresslaunch icid-gnavbar_aim lnid-sec8_lnk12" href="http://www.aim.com/products/express/">聊天室</a>
							</li>
							<li class='last '>
								<a title="A listing of all AOL sites, from A to Z" name="om_hnav_sec8_link13" class="icid-gnavbar_more lnid-sec8_lnk13" href="http://daol.aol.com">Directory</a>
							</li>
						</ul>
					</li>
				</ul>
				<div class="ghnav-bg-top "></div>
				<div class="ghnav-bg-sub "></div>
			</div>
			<div class="subnavControls dn " data-scrolldist="">
				<div class="subnavcontroller">
					<span class="subnav-back sprite-bg sprite-grey-back-arrow-small bN"></span>
				</div>
				<div class="subnavcontroller">
					<span class="subnav-forward sprite-bg sprite-grey-forward-arrow-small bN"></span>
				</div>
			</div>
			<span data-pos="1" class="hnavTrendingNow hnavTrendingNow1 trending-now-hnav">
				<div class="gmod trending-now clearfix plid-487820 mnid-trending-now-hnav ">
					<h2>
						<a name="om_trending_title" href="/video/us-considers-helping-iraq-battle-insurgents" class=" lnid-sec1_lnk1">Unfolding Now</a>
					</h2>
					<ol class="body">
						<li>
							<a name="om_trending1" href="/search?s_it=aolcomhot-2&q=Hillary+Clinton" target="" class="lnid-sec2_lnk1">Hillary Clinton</a>
						</li>
						<li>
							<a name="om_trending2" href="http://news.moviefone.com/2014/06/12/harrison-ford-rushed-to-hospital" target="" class="lnid-sec2_lnk2">Harrison Ford</a>
						</li>
						<li>
							<a name="om_trending3" href="/2014/06/12/ruby-dee-dead_n_5488708.html" target="" class="lnid-sec2_lnk3">Ruby Dee</a>
						</li>
						<li>
							<a name="om_trending4" href="http://www.cambio.com/2014/06/12/robin-thicke-is-naming-his-new-album-after-paula-patton/" target="" class="lnid-sec2_lnk4">Robin Thicke</a>
						</li>
						<li>
							<a name="om_trending5" href="/2014/06/12/louis-ck-tmz-tracy-morgan-crash-video_n_5487018.html" target="" class="lnid-sec2_lnk5">Louis C.K.</a>
						</li>
						<li>
							<a name="om_trending6" href="/2014/06/11/the-interview-trailer_n_5486652.html" target="" class="lnid-sec2_lnk6">Seth Rogen</a>
						</li>
						<li>
							<a name="om_trending7" href="/2014/06/12/kristen-wiig-to-direct-st_n_5487611.html" target="" class="lnid-sec2_lnk7">Kristen Wiig</a>
						</li>
						<li>
							<a name="om_trending8" href="/2014/06/12/george-bush-parachute_n_5487598.html" target="" class="lnid-sec2_lnk8">George H.W. Bush</a>
						</li>
						<li>
							<a name="om_trending9" href="http://www.engadget.com/2014/06/12/amazon-launches-free-streaming-music-service-for-prime-members/" target="" class="lnid-sec2_lnk9">Amazon</a>
						</li>
					</ol>
				</div>
			</span>
			<span id="ghnavExtras" style="display:none;" class="hideDelay-400"></span>
			<div id="weather" class="wthrHnav light">
				<div class="mpid-6 ">
					<div class="weatherloc weatherloc-weather">
						<div class="mnid-weather plid-279909">
							<div class="locWrapper">
								<a class="lnid-sec1_lnk3 weathersetloc" href="###" id="weatheredit">设置社区</a>
							</div>
							<span class="wthDvdr">|</span>
							<a class="lnid-sec1_lnk2" href="###" name="om_weatherforecast"> <b class="wthr_ttl">创建社区</b>
							</a>
							<a href="##" class="lnid-sec1_lnk1" name="om_weathericon">
								<span title="不论天气如何,我们都有好心情~" class="icon-font-wthr icon-607" data-icon="&#xe607;">
									<span class="screen-reader-text">天气</span>
								</span>
							</a>
							<div id="wthrChngLocDelay" class="dn">300</div>
							<div class="ttip dn lnid-sec4_lnk1">
								<div class="ttip-arw sprite-bg sprite-up-arrow-tooltip"></div>
								<a href="index.html#">创建社区</a>
							</div>
							<div class="chngLocTip"></div>
						</div>
					</div>
				</div>
			</div>
			<script type="text/javascript">var hnavDefaultHighlightLinkedText="today";</script>
		</div>
	</div>
</div>